<style>
  @keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
</style>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form #userLogin="ngForm" (ngSubmit)="onSubmit(userLogin)">
                  <h1>Login (Porijayi)</h1>
                  <h5  style="color: red;">{{err}}</h5>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" name="username" placeholder="Username" autocomplete="username" required ngModel>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="current-password" required ngModel>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      
                      <button type="submit" class="btn btn-primary px-4" [class.spinner]="loading" [disabled]="loading">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <!-- <button type="button" class="btn btn-link px-0">Forgot password?</button> -->
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2></h2>
                  <p></p>
                  <!-- <button type="button" class="btn btn-primary active mt-3"></button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
