<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Edit</strong>
          <small>Petition</small>
        </div>
        <form #form="ngForm" id="updateform" (ngSubmit)="onUpdate(form.value)">
        <div class="card-body">
          <div class="row">
          <div class="form-group col-sm-4">
            <label for="company">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name" ngModel={{editData.name}} required>
          </div>
          <div class="form-group col-sm-4">
            <label for="vat">District</label>
            <input type="text" class="form-control" id="vat" placeholder="District " ngModel={{editData.district}} required>
          </div>
          <div class="form-group col-sm-4">
            <label class="col-md-3 col-form-label" for="select1">{{editData.gender}}</label>
              <select id="select1" class="form-control" ngModel={{editData.gender}}  required>
                <option [ngValue]="Male">{{editData.gender}}</option>                
              </select>
          </div>
          
        </div>
          <div class="row">
            <div class="form-group col-sm-8">
              <label for="city">Age</label>
              <input type="number" class="form-control" id="city" placeholder="Age" ngModel={{editData.age}} required>
            </div>
            <div class="form-group col-sm-4">
              <label for="postal-code">Marital Status</label>
              <input type="text" class="form-control" id="postal-code" placeholder="Marital Status" ngModel={{editData.maritalStatus}} required>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="form-group col-md-4">
            <label for="country"><strong>Currently Staying</strong></label>
            </div>
          </div>
          <div class="row">
          <div class="form-group col-md-3">
            <label for="country">Line 1</label>
            <input type="text" class="form-control" id="line1" placeholder="Line 1" ngModel={{editData.addresses[0].line1}} required>
          </div>

          <div class="form-group col-md-3">
            <label for="country">Line 2</label>
            <input type="text" class="form-control" id="line2" placeholder="Line 2" ngModel={{editData.addresses[0].line2}} >
          </div>

          <div class="form-group col-md-3">
            <label for="country">PS</label>
            <input type="text" class="form-control" id="ps" placeholder="Police Station" ngModel={{editData.addresses[0].ps}} >
          </div>

          <div class="form-group col-md-3">
            <label for="country">Pincode</label>
            <input type="text" class="form-control" id="pincode" placeholder="Pincode" ngModel={{editData.addresses[0].pinCode}} >
          </div>
       
            <input type="hidden" class="form-control" id="addressType" ngModel={{editData.addresses[0].addressType}} required>
      

          </div>

          <div class="row">
            <div class="form-group col-md-4">
            <label for="country"><strong>Present Address</strong></label>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-3">
              <label for="country">Line 1</label>
              <input type="text" class="form-control" id="line1" placeholder="Line 1" ngModel={{editData.addresses[1].line2}} required>
            </div>
  
            <div class="form-group col-md-3">
              <label for="country">Line 2</label>
              <input type="text" class="form-control" id="line2" placeholder="Line 2" ngModel={{editData.addresses[1].line2}} >
            </div>
  
            <div class="form-group col-md-3">
              <label for="country">PS</label>
              <input type="text" class="form-control" id="ps" placeholder="Police Station" ngModel={{editData.addresses[1].ps}} >
            </div>
  
            <div class="form-group col-md-3">
              <label for="country">Pincode</label>
              <input type="text" class="form-control" id="pincode" placeholder="Pincode" ngModel={{editData.addresses[1].pinCode}} >
            </div>
    
              <input type="hidden" class="form-control" id="addressType" ngModel={{editData.addresses[1].addressType}} required>
      
  
            </div>

            <div class="row">
              <div class="form-group col-md-4">
              <label for="country"><strong>Address in WB</strong></label>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-3">
                <label for="country">Line 1</label>
                <input type="text" class="form-control" id="line1" placeholder="Line 1" ngModel={{editData.addresses[2].line2}} required>
              </div>

              <div class="form-group col-md-3">
                <label for="country">Line 2</label>
                <input type="text" class="form-control" id="line2" placeholder="Line 1" ngModel={{editData.addresses[2].line2}} required>
              </div>
    
              <div class="form-group col-md-3">
                <label for="country">PS</label>
                <input type="text" class="form-control" id="ps" placeholder="Police Station" ngModel={{editData.addresses[2].ps}} required>
              </div>
    
              <div class="form-group col-md-3">
                <label for="country">Pincode</label>
                <input type="text" class="form-control" id="pincode" placeholder="Pincode" ngModel={{editData.addresses[2].pinCode}} required>
              </div>
    
              <input type="hidden" class="form-control" id="addressType" ngModel={{editData.addresses[2].addressType}} required>
        
    
              </div>

              <div class="row">
                <div class="form-group col-md-4">
               <label for="residenceType">Type of Residence</label>
                  <select id="residenceType" ngModel="{{editData.residenceType}}" class="form-control">
                    <option value="0">Please select</option>
                    <option value="owned">Owned</option>
                    <option value="joint">Joint</option>
                    <option value="other">Other</option>
                  </select>
                </div>
  
                <div class="form-group col-md-4">
                  <label for="country">No of dependents</label>
                  <input type="number" class="form-control" id="dependents" ngModel={{editData.dependents}} placeholder="No of dependents" required>
                </div>
      
                <div class="form-group col-md-4">
                  <label for="country">Phone number</label>
                  <input type="number" class="form-control" id="phone" ngModel={{editData.phone}} placeholder="Phone number" required>
                </div>
              </div>
            <div class="row">
              
              <div class="form-group col-md-3">
              <label for="country">healthCondition</label>
              <input type="text" class="form-control" id="healthCondition" ngModel={{editData.healthCondition}} placeholder="healthCondition" required>
            </div>      

            <div class="form-group col-md-3">
              <label for="country">Occupation</label>
              <input type="text" class="form-control" id="occupation" ngModel={{editData.occupation}} placeholder="Occupation" required>
            </div>  
            
            <div class="form-group col-md-3">
              <label for="country">Qualification</label>
              <input type="text" class="form-control" id="qualification" ngModel={{editData.qualification}} placeholder="Qualification" required>
            </div>

            <div class="form-group col-md-3">
              <label for="country">Professional Qualification</label>
              <input type="text" class="form-control" id="professionalQualification" ngModel={{editData.professionalQualification}} placeholder="Professional Qualification" required>
            </div>  
          </div>
         
          <div class="row">
          <div class="form-group col-sm-4">
            <label for="radios">License Holder</label>
              <div class="form-check form-check-inline mr-1" id="inline-radios">
                <input class="form-check-input" type="radio"  id="licenseHolder" ngModel="{{editData.licenseHolder}}">
                <label class="form-check-label" for="licenseHolder">Yes</label>
              </div>
              <div class="form-check form-check-inline mr-1">
                <input class="form-check-input" type="radio"  id="licenseHolder"  ngModel="{{editData.licenseHolder}}">
                <label class="form-check-label" for="licenseHolder" >No</label>
              </div>

             
          </div>

          <div class="form-group col-sm-4">
            <label for="radios">Permit Holder </label>
              <div class="form-check form-check-inline mr-1" id="inline-radios">
                <input class="form-check-input" type="radio"   id="permitHolder" ngModel="{{editData.permitHolder}}" >
                <label class="form-check-label" for="permitHolder">Yes</label>
              </div>
              <div class="form-check form-check-inline mr-1">
                <input class="form-check-input" type="radio"  id="permitHolder"  ngModel="{{editData.permitHolder}}">
                <label class="form-check-label" for="permitHolder">No</label>
              </div>
          </div>

          <div class="form-group col-sm-4">
            <label for="radios">JobCard Holder </label>
              <div class="form-check form-check-inline mr-1" id="inline-radios">
                <input class="form-check-input" type="radio" id="jobCardHolder" ngModel="{{editData.jobCardHolder}}">
                <label class="form-check-label" for="jobCardHolder">Yes</label>
              </div>
              <div class="form-check form-check-inline mr-1">
                <input class="form-check-input" type="radio"  id="jobCardHolder" ngModel="{{editData.jobCardHolder}}">
                <label class="form-check-label" for="jobCardHolder">No</label>
              </div>
          </div>

          </div>

          <!-- <div class="row">
            <div class="form-group col-sm-4">
              <label for="radios">SocialSecurities </label>
                <div class="form-check form-check-inline mr-1" id="inline-radios">
                  <input class="form-check-input" type="radio"  id="licenseHolder" value="yes">
                  <label class="form-check-label" for="licenseHolder">Yes</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="radio"  id="licenseHolder" value="no">
                  <label class="form-check-label" for="licenseHolder">No</label>
                </div>
            </div>
  
            <div class="form-group col-sm-4">
              <label for="radios">Official Ids  </label>
                <div class="form-check form-check-inline mr-1" id="inline-radios">
                  <input class="form-check-input" type="radio" id="permitHolder" value="yes">
                  <label class="form-check-label" for="permitHolder">Yes</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" type="radio" id="permitHolder" value="no">
                  <label class="form-check-label" for="permitHolder">No</label>
                </div>
            </div>
  
           
            </div> -->
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="radios">Requirements  </label>
              </div>
            </div>
                <div class="row">
                  <div class=" col-sm-4">
                    <input type="text" class="form-control" id="occupation" ngModel={{editData.requirements[0]}} placeholder="Req 1" required>
                    
                  </div>
                  <div class=" col-sm-4">
                    <input type="text" class="form-control" id="occupation" ngModel={{editData.requirements[1]}}  placeholder="Req 2" required>
                    
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="occupation" ngModel={{editData.requirements[2]}} placeholder="Req 3" required>
                    
                  </div>
                </div>

                <button type="submit" class="btn btn-primary px-4" (click)="onUpdate()" [class.spinner]="loading" [disabled]="loading">Update</button>
        </div>
     
      </div>
    </form>
    </div>   
  </div>
  </div>
  