<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Petitions
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm table-responsive">
            <thead>
              <tr>
                <th>Name</th>
                <th>District</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Marital Status</th>
                <th>Currently Staying</th>
                <th>Present Address</th>
                <th>PS</th>
                <th>Pincode</th>
                <th>Address in WB</th>
                <th>Police Station</th>
                <th>Pincode</th>
                <th>Type of Residence</th>
                <th>Phone number</th>
                <th>No of dependents</th>
                <th>Health Condition</th>
                <th>Qualification</th>
                <th>Occupation</th>
                <th>Professional Qualification</th>
                <th>License Holder </th>
                <th>Permit Holder</th>
                <th>JobCard Holder</th>
                <th>Social Securities </th>
                <th>Official Ids </th>
                <th>Requirements</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>

               <tr *ngFor="let pety of petitions">
                <td>{{pety.name}}</td>
                <td>{{pety.district}}</td>
                <td>{{pety.gender}}</td>
                <td>{{pety.age}}</td>
                <td>{{pety.maritalStatus}}</td>

                <td>{{pety.addresses[1].line1}}</td>

                <td>{{pety.addresses[0].line1}},{{pety.addresses[0].line2}}</td>
                <td>{{pety.addresses[0].ps}}</td>
                <td>{{pety.addresses[0].pinCode}}</td>

                <td>{{pety.addresses[2].line1}},{{pety.addresses[2].line2}}</td>
                <td>{{pety.addresses[2].ps}}</td>
                <td>{{pety.addresses[2].pinCode}}</td>

                <td>{{pety.residenceType}}</td>
                <td>{{pety.phone}}</td>
                <td>{{pety.dependents}}</td>
                <td>{{pety.healthCondition}}</td>
                <td>{{pety.qualification}}</td>
                <td>{{pety.occupation}}</td>
                <td>{{pety.professionalQualification}}</td>
                <td>{{pety.licenseHolder}}</td>
                <td>{{pety.permitHolder}}</td>
                <td>{{pety.jobCardHolder}}</td>
                <td>{{pety.socialSecurities}}</td>
                <td>{{pety.officialIds}}</td>
                <td>{{pety.requirements}}</td>
                <td><button class="btn btn-primary btn-sm" (click)="onEdit(pety)">Edit</button> 
                  &nbsp; &nbsp; <br>
                  <a href="http://localhost:8080/petitions/{{pety.uuid}}/download" class="btn btn-success btn-sm">Download</a>
                </td>
               </tr> 
                
              <tr *ngIf="ifLoading">
                <td colspan=7>Loading...</td>
              </tr> 

            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><button class="page-link" (click) = "getPrev()" href="#">Prev</button></li>
              
              <li class="page-item"><button class="page-link" (click) = "getNext()" href="#">Next</button></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
